# Actividad 1

Notebook donde se realizará la solución al notebook de actividad 1 para el curso de introducción a Python

## A1- Manejo de Jupyter notebook - 20%
En esta sección mostraré una serie de shortcuts o atajos de teclado útiles a la hora de trabajar con jupyter notebooks

#### Creación de celdas

Para crear celdas en Jupyter puedes primero debes estar en **command mode**, para acceder a este primero se debe presionar la tecla _esc_
Posteriormente podrás usar los siguientes atajos de teclado:
- ctrl + a: insertar una celda arriba
- ctrl + b: insertar una celda abajo

#### Ejecutar el código de una celda:
Para Ejecutar el código de una celda disponemos de los siguientes atajos de teclado:
- Ctrl + Enter: Ejecuta la celda actual
- Shift + Enter: ejecuta la celda actual y pasa a la siguiente celda
- Alt + Enter: Ejecuta la celda actual y crea una nueva debajo

#### Cambiar tipo de celda a Markdown
las celdas por defecto son de tipo código, y usualmente requerimos que las celdas sean tipo Markdown para nuestra documentación, por lo cuál disponemos de un atajo de teclado que nos evita tener que ir con el ratón y cambiar manualmente el tipo de celda. 

Para utilizar este atajo debes estar primero en **command mode** (presionando _esc_)
luego presionas la tecla **"M"** y la celda cambiará a modo Markdown

#### Copiar y pegar celdas
Primero debes seleccionar las celdas a copiar (o cortar)

Para seleccionar celdas completas debes estar en **command mode**
Si deseas seleccionar una sola celda, basta con parase sobre esta, pero si deseas seleccionar múltiples celdas, cuentas con la siguiente opción:
- si las celdas son contiguas: puedes presionar **shift+up** o **shift down** y automáticamente seleccionarás la celda de arriba o abajo respectivamente

Una vez tienes la(s) celda(s) seleccionada(s) presiona:
- ctrl + c para copiar
- ctrl + x para cortar

Lo último sería pegarlas, para las cuales tienes 2 opciones:
1. Pegar todo el contenido en la misma celda: seleccionas la celda destino en modo de edición y presionas **ctrl+v**
2. Pegar las celdas como celdas individuales (como eran originalmente): seleccionas la celda destino pero en **command mode** y luego presionas **ctrl+v**

#### Guardar Notebook
Para guardar tus avances en el notebook presiona:
**ctrl + s**

## A2 - Operaciones básicas - 30%
En esta sección se pondrán en práctica algunos conceptos de operaciones básicas en Python

- Crear una variable, asignarle un valor decimal e imprimir el tipo de la variable.
- Convertir la variable en un string e imprimirla junto con tu nombre para que aparezca en una línea.
- Crear una lista con números que comiencen por 30 y que termine en 60 haciendo que el paso entre cada número consecutivo sea de 0.4. (No usar Numpy)

In [48]:
variable_decimal = 3.1416
print("el tipo de variable es:", type(variable_decimal))

el tipo de variable es: <class 'float'>

In [49]:
print("Carlos Esteban Posada "+str(variable_decimal))

Carlos Esteban Posada 3.1416

El punto de la lista de números lo haré con un bucle while

In [51]:
def crear_lista(num_min, num_max, paso):
    forma1 = []
    num_actual = num_min
    while num_actual < num_max:
        forma1.append(num_actual)
        num_actual+=paso
    return forma1

In [66]:
num_min = 30
num_max = 60
paso = 0.4
lista_deseada = crear_lista(num_min, num_max, paso)

In [67]:
for i, x in enumerate(lista_deseada):
    print("lista[{}] = {:.1f}".format(i, x))

lista[0] = 30.0
lista[1] = 30.4
lista[2] = 30.8
lista[3] = 31.2
lista[4] = 31.6
lista[5] = 32.0
lista[6] = 32.4
lista[7] = 32.8
lista[8] = 33.2
lista[9] = 33.6
lista[10] = 34.0
lista[11] = 34.4
lista[12] = 34.8
lista[13] = 35.2
lista[14] = 35.6
lista[15] = 36.0
lista[16] = 36.4
lista[17] = 36.8
lista[18] = 37.2
lista[19] = 37.6
lista[20] = 38.0
lista[21] = 38.4
lista[22] = 38.8
lista[23] = 39.2
lista[24] = 39.6
lista[25] = 40.0
lista[26] = 40.4
lista[27] = 40.8
lista[28] = 41.2
lista[29] = 41.6
lista[30] = 42.0
lista[31] = 42.4
lista[32] = 42.8
lista[33] = 43.2
lista[34] = 43.6
lista[35] = 44.0
lista[36] = 44.4
lista[37] = 44.8
lista[38] = 45.2
lista[39] = 45.6
lista[40] = 46.0
lista[41] = 46.4
lista[42] = 46.8
lista[43] = 47.2
lista[44] = 47.6
lista[45] = 48.0
lista[46] = 48.4
lista[47] = 48.8
lista[48] = 49.2
lista[49] = 49.6
lista[50] = 50.0
lista[51] = 50.4
lista[52] = 50.8
lista[53] = 51.2
lista[54] = 51.6
lista[55] = 52.0
lista[56] = 52.4
lista[57] = 52.8
lista[58] = 53.2
lista[59] = 53.6
lista[60] = 54.0
lista[61] = 54.4
lista[62] = 54.8
lista[63] = 55.2
lista[64] = 55.6
lista[65] = 56.0
lista[66] = 56.4
lista[67] = 56.8
lista[68] = 57.2
lista[69] = 57.6
lista[70] = 58.0
lista[71] = 58.4
lista[72] = 58.8
lista[73] = 59.2
lista[74] = 59.6
lista[75] = 60.0

## A3 - Funciones - 20%
Crear una función que devuelva si un año es bisiesto o no. Un año es bisiesto si es divisible entre 4, excepto aquellos divisibles entre 100 pero no entre 400.

In [54]:
def is_bisiesto(year):
    if year % 4 == 0:
        if year % 100 == 0 and year % 400 != 0:
            return False
        else:
            return True
    else:
        return False

Comprobemos con ejemplos la función anterior:

In [55]:
# Lista de años que a priori sé si son o no bisiestos
bisiestos = [1600, 2000, 2400]
no_bisiestos = [1700, 1800, 1900, 2100, 2200, 2300, 2500, 2600]

In [56]:
[is_bisiesto(year) for year in bisiestos]

[True, True, True]

In [57]:
[is_bisiesto(year) for year in no_bisiestos]

[False, False, False, False, False, False, False, False]

Se puede observar que la lista de los bisiestos, todos entregó True la función, y para la lista de los no bisiestos la función identificó que no lo eran

## A4 - Ficheros - 30%

- 1. Descarga datos mediante la siguiente url y devuelve una función con las ciudades de Florida en un tipo de colección Python https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv
- 2. Imprimir el número de ciudades que tiene el estado de Florida.

In [58]:
# La data está descargada en la misma carpeta que este notebook
ciudades_in_florida = set()
with open("us_cities_states_counties.csv") as f:
    for line in f:
        city, state_short, state, county, alias =line.split(";")
        if state == "Florida":
            ciudades_in_florida.add(city)

In [59]:
num_ciudades_florida = len(ciudades_in_florida)
print(f"número de ciudades de florida: {num_ciudades_florida}")

número de ciudades de florida: 537

## A4 - ¡Lo mismo pero con pandas!
En este apartado (que hago de manera opcional) se realizará la actividad A4 pero con pandas

In [60]:
import pandas as pd

In [61]:
ruta_data = "https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv"
data = pd.read_csv(ruta_data, sep="|")

In [62]:
# comprobemos que la data ha sido cargada en la estructura correcta
print(data.shape)
data.head()

(63211, 5)

         City State short   State full    County                City alias
0  Holtsville          NY     New York   SUFFOLK  Internal Revenue Service
1  Holtsville          NY     New York   SUFFOLK                Holtsville
2    Adjuntas          PR  Puerto Rico  ADJUNTAS           URB San Joaquin
3    Adjuntas          PR  Puerto Rico  ADJUNTAS          Jard De Adjuntas
4    Adjuntas          PR  Puerto Rico  ADJUNTAS       Colinas Del Gigante

### Para el apartado de imprimir el número de ciudades que pertenecen a florida, lo haré de dos formas distintas:
- Forma 1: paso a paso haciendo filtros a la data, más legible
- Forma 2: en un solo comando, menos legible pero más eficiente

#### Forma 1: paso a paso

In [63]:
florida_data = data[data["State full"]=="Florida"]
florida_data.head()

,City,State short,State full,County,City alias
23280,Fleming Island,FL,Florida,CLAY,Orange Pk
23281,Fleming Island,FL,Florida,CLAY,Fleming Island
23282,Fleming Island,FL,Florida,CLAY,Fleming Isle
23283,Fleming Island,FL,Florida,CLAY,Orange Park
23284,Ponte Vedra Beach,FL,Florida,SAINT JOHNS,Ponte Vedra Beach

In [64]:
# Obtener las ciudades que pertenecen a florida:
florida_unique_cities = florida_data["City"].unique()

In [65]:
# Imprimir el número de ciudades que tiene el estado de florida
print(f"número de ciudades de florida: {len(florida_unique_cities)}")

número de ciudades de florida: 537

#### Forma 2: en un solo comando

In [31]:
num_ciudades = data[data["State full"]=="Florida"]["City"].nunique()
print(f"número de ciudades de florida: {num_ciudades}")

número de ciudades de florida: 537