
<img src="img/viu_logo.png" width="200">

## 01MAIR - Estructuras de datos, +Pandas

![logo](img/python_logo.png)

*Ivan Fuertes*

# Operaciones en pandas
- Búsqueda
- Ordenar
- Operaciones matemáticas entre objetos
- apply(lambda)
- Estadística descriptiva
- Ejemplo fuel efficiency

#### Búsqueda

In [1]:
import pandas as pd
import numpy as np

In [4]:
rand_matrix = np.random.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
display(frame)

   A  B  C
0  0  2  4
1  2  0  0

In [5]:
# buscando columnas (DataFrame como dic, busca en claves)
'A' in frame

True

In [7]:
# buscando valores
display(frame.isin([3,2])) # --> mask de respuesta (valores que son 3 o 2)

       A      B      C
0  False   True  False
1   True  False  False

In [13]:
# Contar el número de ocurrencias
print(frame.isin([4]).values.sum())
display(frame.isin([5])) #devuelve una mask con valores true si el elemento es 5
type(frame.isin([5]).values) # pandas es una capa alrededor de numpy

1

       A      B      C
0  False  False  False
1  False  False  False

numpy.ndarray

In [15]:
# Cuántos valores son >= 4
mask = frame >= 4
print(mask.values.sum())
display(mask)

1

       A      B      C
0  False  False   True
1  False  False  False

#### Ordenación

In [25]:
from random import shuffle

rand_matrix = np.random.randint(20,size=(5,4))

indices = list(range(5))
shuffle(indices) # mezcla indices
indices
frame = pd.DataFrame(rand_matrix , columns=list('DACB'),index=indices)
display(frame)

    D  A   C   B
2   0  0   0  19
4   0  2  13  18
3  15  1   0   8
0   0  4   1   6
1  12  8  14  18

In [26]:
# ordenar por índice
display(frame.sort_index(ascending=True))

    D  A   C   B
0   0  4   1   6
1  12  8  14  18
2   0  0   0  19
3  15  1   0   8
4   0  2  13  18

In [29]:
#ordenar por columna
display(frame.sort_index(axis=1, ascending=True))

   A   B   C   D
2  0  19   0   0
4  2  18  13   0
3  1   8   0  15
0  4   6   1   0
1  8  18  14  12

In [38]:
# ordenar filas por valor en columna
display(frame.sort_values(by='A', ascending=False))

    D  A   C   B
1  12  8  14  18
0   0  4   1   6
4   0  2  13  18
3  15  1   0   8
2   0  0   0  19

In [40]:
# ordenar columnas por valor en fila
display(frame.sort_values(by=0, axis=1, ascending=False)) # ordenó las columnas por la fila cuyo índex es 0

    B  A   C   D
2  19  0   0   0
4  18  2  13   0
3   8  1   0  15
0   6  4   1   0
1  18  8  14  12

In [42]:
# ordenar por valor en columna y guardar cambios
frame.sort_values(by='A', ascending=False, inplace=True)
display(frame)

    D  A   C   B
1  12  8  14  18
0   0  4   1   6
4   0  2  13  18
3  15  1   0   8
2   0  0   0  19

#### Ranking
- Construir un ranking de valores

In [46]:
display(frame.rank(method="max"))

     D    A    C    B
1  4.0  5.0  5.0  4.0
0  3.0  4.0  3.0  1.0
4  3.0  3.0  4.0  4.0
3  5.0  2.0  2.0  2.0
2  3.0  1.0  2.0  5.0

In [48]:
# Imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
for x in frame.sort_values(by='C', ascending=False)['C'].values:
    print(x)

14
13
1
0
0

# Operaciones

Operaciones matemáticas entre objetos

In [50]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)
display(frameA)
display(frameB)

    0   1   2   3
0  69  50  27   3
1   5  24  62  46
2  52  15  34  94
3  26  24  70  66

    0   1   2   3
0  50  96  25  68
1  22  11  45  87
2  50  71   0  11
3  36  94  30  77

In [51]:
# a través de métodos u operadores
display(frameA + frameB == frameA.add(frameB))
display(frameA + frameB)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

     0    1    2    3
0  119  146   52   71
1   27   35  107  133
2  102   86   34  105
3   62  118  100  143

In [52]:
display(frameB - frameA == frameB.sub(frameA))
display(frameB - frameA)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

    0   1   2   3
0 -19  46  -2  65
1  17 -13 -17  41
2  -2  56 -34 -83
3  10  70 -40  11

In [53]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
display(frameA)
display(frameC)
display(frameA - frameC)

    0   1   2   3
0  69  50  27   3
1   5  24  62  46
2  52  15  34  94
3  26  24  70  66

    0   1   2
0  27  92  53
1  40  69  25
2  92  84  48

      0     1     2   3
0  42.0 -42.0 -26.0 NaN
1 -35.0 -45.0  37.0 NaN
2 -40.0 -69.0 -14.0 NaN
3   NaN   NaN   NaN NaN

In [57]:
# se puede especificar el valor por defecto con el argumento fill_value
display(frameA.sub(frameC,fill_value=0))

      0     1     2     3
0  42.0 -42.0 -26.0   3.0
1 -35.0 -45.0  37.0  46.0
2 -40.0 -69.0 -14.0  94.0
3  26.0  24.0  70.0  66.0

Operadores aritméticos solo válidos en elementos aceptables

In [58]:
frameD = pd.DataFrame({0: ['a','b'],1:['d','f']})
display(frameD)
frameA - frameD

   0  1
0  a  d
1  b  f

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Operaciones entre Series y DataFrames

In [61]:
rand_matrix = np.random.randint(10, size=(3, 4))
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(df)
# uso común, averiguar la diferencia entre una fila y el resto
display(df - df.iloc[0])
# Por columnas cómo se restaría
display(df.sub(df['A'], axis=0))

   A  B  C  D
0  6  8  7  7
1  9  5  8  1
2  2  9  1  4

   A  B  C  D
0  0  0  0  0
1  3 -3  1 -6
2 -4  1 -6 -3

   A  B  C  D
0  0  2  1  1
1  0 -4 -1 -8
2  0  7 -1  2

pandas se basa en NumPy, np operadores binarios y unarios son aceptables 

| Tipo | Operación | Descripción |
|:---------|:-----|:-----|
| Unario | *abs* | Valor absoluto de cada elemento |
| | *sqrt* | Raíz cuadrada de cada elemento |
| | *exp* | e^x, siendo x cad elemento |
| | *log, log10, log2* | Logaritmos en distintas bases de cada elemento |
| | *sign* | Retorna el signo de cada elemento (-1 para negativo, 0 o 1 para positivo) |
| | *ceil* | Redondea cada elemento por arriba |
| | *floor* | Redondea cada elemento por abajo |
| | *isnan* | Retorna si cada elemento es Nan |
| | *cos, sin, tan* | Operaciones trigonométricas en cada elemento |
| | *arccos, arcsin, arctan* | Inversas de operaciones trigonométricas en cada elemento |
| Binario | *add* | Suma de dos arrays |
| | *substract* | Resta de dos arrays |
| | *multiply* | Multiplicación de dos arrays |
| | *divide* | División de dos arrays |
| | *maximum, minimum* | Retorna el valor máximo/mínimo de cada pareja de elementos |
| | *equal, not_equal* | Retorna la comparación (igual o no igual) de cada pareja de elementos |
| | *greater, greater_equal, less, less_equal* | Retorna la comparación (>, >=, <, <= respectivamente) de cada pareja de elementos |

Aplicación de funciones a medida con lambda

In [63]:
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min())) # diferencia por columna

   A  B  C  D
0  2  1  8  3
1  4  0  5  2
2  3  0  6  2

A    2
B    1
C    3
D    1
dtype: int64

In [69]:
# diferencia entre min y max por fila (no columna)
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
display(frame)
print(frame.apply(lambda x : x.max() - x.min(), axis = 1)) # diferencia por fila

   A  B  C  D
0  8  9  0  7
1  3  2  2  9
2  5  5  8  7

0    9
1    7
2    3
dtype: int64

# Estadística descriptiva
- Análisis preliminar de los datos
- Para Series y DataFrame

In [78]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,34,11, 30], 
               "puntos" : [98,12,98,40], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
display(frame)
display(frame.describe(include='all')) # datos generales de elementos

   nombre  edad  puntos genero
0  Marisa    34      98      F
1   Laura    34      12      F
2  Manuel    11      98      M
3  Carlos    30      40      M

       nombre       edad     puntos genero
count       4   4.000000   4.000000      4
unique      4        NaN        NaN      2
top     Laura        NaN        NaN      M
freq        1        NaN        NaN      2
mean      NaN  27.250000  62.000000    NaN
std       NaN  10.996211  43.112257    NaN
min       NaN  11.000000  12.000000    NaN
25%       NaN  25.250000  33.000000    NaN
50%       NaN  32.000000  69.000000    NaN
75%       NaN  34.000000  98.000000    NaN
max       NaN  34.000000  98.000000    NaN

In [74]:
print(type(frame['edad']))

<class 'pandas.core.series.Series'>

In [75]:
# operadores básicos
frame.sum()

nombre    MarisaLauraManuelCarlos
edad                          109
puntos                        248
genero                       FFMM
dtype: object

In [76]:
frame.mean()

edad      27.25
puntos    62.00
dtype: float64

In [77]:
frame.cumsum()

                    nombre edad puntos genero
0                   Marisa   34     98      F
1              MarisaLaura   68    110     FF
2        MarisaLauraManuel   79    208    FFM
3  MarisaLauraManuelCarlos  109    248   FFMM

In [79]:
frame.count()

nombre    4
edad      4
puntos    4
genero    4
dtype: int64

In [80]:
frame['edad'].std()

10.996211468804457

In [84]:
frame['edad'].idxmax()

0

In [85]:
frame['puntos'].idxmin()

1

In [89]:
# frame con las filas con los valores maximos de una columna
display(frame[frame['puntos'] == frame['puntos'].max()])

   nombre  edad  puntos genero
0  Marisa    34      98      F
2  Manuel    11      98      M

In [90]:
frame['puntos'].max()

98

pandas incluye métodos para analizar correlaciones
- Relación matemática entre dos variables (-1 negativamente relacionadas, 1 positivamente relacionadas, 0 sin relación)
- obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos
- https://www.datascience.com/blog/introduction-to-correlation-learn-data-science-tutorials

## Agregaciones

In [92]:
display(frame)
display(frame.groupby('genero').count())

   nombre  edad  puntos genero
0  Marisa    34      98      F
1   Laura    34      12      F
2  Manuel    11      98      M
3  Carlos    30      40      M

        nombre  edad  puntos
genero
F            2     2       2
M            2     2       2

In [93]:
display(frame.groupby('genero').mean())

        edad  puntos
genero
F       34.0    55.0
M       20.5    69.0

In [94]:
display(frame.groupby('genero').max())

        nombre  edad  puntos
genero
F       Marisa    34      98
M       Manuel    30      98

In [103]:
# funciones de agregación de varias columnas para obtener distintos estadísticos
display(frame.groupby('genero')[['edad', 'puntos']].aggregate(["min", np.median, max]))

       edad            puntos
        min median max    min median max
genero
F        34   34.0  34     12     55  98
M        11   20.5  30     40     69  98

In [101]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30

frame.groupby('genero').filter(media)

   nombre  edad  puntos genero
0  Marisa    34      98      F
1   Laura    34      12      F

## Pivot Table
- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html
- https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

# Ejemplo Fuel efficiency
- https://archive.ics.uci.edu/ml/datasets/Auto+MPG

In [1]:
import pandas as pd
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?')

In [2]:
display(mpg_data.sample(5))

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
130,26.0,4,122.0,80.0,2451.0,16.5,74,1,ford pinto
237,30.5,4,98.0,63.0,2051.0,17.0,77,1,chevrolet chevette
292,18.5,8,360.0,150.0,3940.0,13.0,79,1,chrysler lebaron town @ country (sw)
321,32.2,4,108.0,75.0,2265.0,15.2,80,3,toyota corolla
389,22.0,6,232.0,112.0,2835.0,14.7,82,1,ford granada l

In [3]:
display(mpg_data.describe(include='all'))

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000,NaN

In [4]:
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg               398 non-null float64
cilindros         398 non-null int64
desplazamiento    398 non-null float64
potencia          392 non-null float64
peso              398 non-null float64
aceleracion       398 non-null float64
año               398 non-null int64
origen            398 non-null int64
nombre            398 non-null object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

### Correlaciones entre valores

In [5]:
mpg_data['mpg'].corr(mpg_data['peso']) # + mpg = - peso

-0.8317409332443351

In [6]:
mpg_data['peso'].corr(mpg_data['aceleracion']) # + peso = - aceleracion

-0.4174573199403932

### Correlaciones entre todos los valores

In [7]:
mpg_data.corr()

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267,0.563450
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746,-0.562543
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164,-0.609409
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564,-0.581024
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137,0.205873
año,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000,0.180662
origen,0.563450,-0.562543,-0.609409,-0.455171,-0.581024,0.205873,0.180662,1.000000

In [8]:
#anyo y origen no parecen correlacionables
#eliminar columnas de la correlacion
corr_data = mpg_data.drop(['año','origen'],axis=1).corr()
display(corr_data)

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000

In [9]:
# representación gráfica matplotlib
import matplotlib.pyplot as plt

In [10]:
# representación gráfica
corr_data.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)

In [11]:
# correlación más negativa
mpg_data.drop(['año','origen'],axis=1).corr().idxmin()

mpg                   peso
cilindros              mpg
desplazamiento         mpg
potencia               mpg
peso                   mpg
aceleracion       potencia
dtype: object

In [12]:
# correlación más positiva
mpg_data.drop(['año','origen'],axis=1).corr().idxmax()  #consigo misma....

mpg                          mpg
cilindros              cilindros
desplazamiento    desplazamiento
potencia                potencia
peso                        peso
aceleracion          aceleracion
dtype: object

In [13]:
# tabla similar con las correlaciones más positivas (evitar parejas del mismo valor)
positive_corr = mpg_data.drop(['año','origen'],axis=1).corr()
np.fill_diagonal(positive_corr.values, 0)
positive_corr.idxmax()

NameError: name 'np' is not defined

In [14]:
positive_corr.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)