# Actividad 1

Notebook donde se realizará la solución al notebook de actividad 1 para el curso de introducción a Python

## A1- Manejo de Jupyter notebook - 20%
En esta sección mostraré una serie de shortcuts o atajos de teclado útiles a la hora de trabajar con jupyter notebooks

#### Creación de celdas

Para crear celdas en Jupyter puedes primero debes estar en **command mode**, para acceder a este primero se debe presionar la tecla _esc_
Posteriormente podrás usar los siguientes atajos de teclado:
- ctrl + a: insertar una celda arriba
- ctrl + b: insertar una celda abajo

#### Ejecutar el código de una celda:
Para Ejecutar el código de una celda disponemos de los siguientes atajos de teclado:
- Ctrl + Enter: Ejecuta la celda actual
- Shift + Enter: ejecuta la celda actual y pasa a la siguiente celda
- Alt + Enter: Ejecuta la celda actual y crea una nueva debajo

#### Cambiar tipo de celda a Markdown
las celdas por defecto son de tipo código, y usualmente requerimos que las celdas sean tipo Markdown para nuestra documentación, por lo cuál disponemos de un atajo de teclado que nos evita tener que ir con el ratón y cambiar manualmente el tipo de celda. 

Para utilizar este atajo debes estar primero en **command mode** (presionando _esc_)
luego presionas la tecla **"M"** y la celda cambiará a modo Markdown

#### Copiar y pegar celdas
Primero debes seleccionar las celdas a copiar (o cortar)

Para seleccionar celdas completas debes estar en **command mode**
Si deseas seleccionar una sola celda, basta con parase sobre esta, pero si deseas seleccionar múltiples celdas, cuentas con la siguiente opción:
- si las celdas son contiguas: puedes presionar **shift+up** o **shift down** y automáticamente seleccionarás la celda de arriba o abajo respectivamente

Una vez tienes la(s) celda(s) seleccionada(s) presiona:
- ctrl + c para copiar
- ctrl + x para cortar

Lo último sería pegarlas, para las cuales tienes 2 opciones:
1. Pegar todo el contenido en la misma celda: seleccionas la celda destino en modo de edición y presionas **ctrl+v**
2. Pegar las celdas como celdas individuales (como eran originalmente): seleccionas la celda destino pero en **command mode** y luego presionas **ctrl+v**

#### Guardar Notebook
Para guardar tus avances en el notebook presiona:
**ctrl + s**

## A2 - Operaciones básicas - 30%
En esta sección se pondrán en práctica algunos conceptos de operaciones básicas en Python

- Crear una variable, asignarle un valor decimal e imprimir el tipo de la variable.
- Convertir la variable en un string e imprimirla junto con tu nombre para que aparezca en una línea.
- Crear una lista con números que comiencen por 30 y que termine en 60 haciendo que el paso entre cada número consecutivo sea de 0.4. (No usar Numpy)

In [1]:
variable_decimal = 3.1416
print("el tipo de variable es:", type(variable_decimal))

el tipo de variable es: <class 'float'>

In [47]:
print("Carlos Esteban Posada "+str(variable_decimal))

Carlos Esteban Posada 3.1416

El punto de la lista de números lo haré de dos formas diferentes:
- forma 1: con un while
- fomra 2: utilizando range y un truco con multiplicar y dividir por 10

In [52]:
num_min = 30
num_max = 60
paso = 0.4

In [53]:
forma1 = []
num_actual = num_min
while num_actual < 60:
    forma1.append(num_actual)
    num_actual+=0.4

In [54]:
forma2 = list(range(num_min*10, num_max*10, int(paso*10)))
forma2 = [x/10 for x in forma2] # lo hago en 2 pasos por legibilidad

In [55]:
for i in range(len(forma2)):
    print(f"forma1: {forma1[i]}, forma2: {forma2[i]}")

forma1: 30, forma2: 30.0
forma1: 30.4, forma2: 30.4
forma1: 30.799999999999997, forma2: 30.8
forma1: 31.199999999999996, forma2: 31.2
forma1: 31.599999999999994, forma2: 31.6
forma1: 31.999999999999993, forma2: 32.0
forma1: 32.39999999999999, forma2: 32.4
forma1: 32.79999999999999, forma2: 32.8
forma1: 33.19999999999999, forma2: 33.2
forma1: 33.59999999999999, forma2: 33.6
forma1: 33.999999999999986, forma2: 34.0
forma1: 34.399999999999984, forma2: 34.4
forma1: 34.79999999999998, forma2: 34.8
forma1: 35.19999999999998, forma2: 35.2
forma1: 35.59999999999998, forma2: 35.6
forma1: 35.99999999999998, forma2: 36.0
forma1: 36.39999999999998, forma2: 36.4
forma1: 36.799999999999976, forma2: 36.8
forma1: 37.199999999999974, forma2: 37.2
forma1: 37.59999999999997, forma2: 37.6
forma1: 37.99999999999997, forma2: 38.0
forma1: 38.39999999999997, forma2: 38.4
forma1: 38.79999999999997, forma2: 38.8
forma1: 39.19999999999997, forma2: 39.2
forma1: 39.599999999999966, forma2: 39.6
forma1: 39.999999999999964, forma2: 40.0
forma1: 40.39999999999996, forma2: 40.4
forma1: 40.79999999999996, forma2: 40.8
forma1: 41.19999999999996, forma2: 41.2
forma1: 41.59999999999996, forma2: 41.6
forma1: 41.99999999999996, forma2: 42.0
forma1: 42.399999999999956, forma2: 42.4
forma1: 42.799999999999955, forma2: 42.8
forma1: 43.19999999999995, forma2: 43.2
forma1: 43.59999999999995, forma2: 43.6
forma1: 43.99999999999995, forma2: 44.0
forma1: 44.39999999999995, forma2: 44.4
forma1: 44.79999999999995, forma2: 44.8
forma1: 45.199999999999946, forma2: 45.2
forma1: 45.599999999999945, forma2: 45.6
forma1: 45.99999999999994, forma2: 46.0
forma1: 46.39999999999994, forma2: 46.4
forma1: 46.79999999999994, forma2: 46.8
forma1: 47.19999999999994, forma2: 47.2
forma1: 47.59999999999994, forma2: 47.6
forma1: 47.999999999999936, forma2: 48.0
forma1: 48.399999999999935, forma2: 48.4
forma1: 48.79999999999993, forma2: 48.8
forma1: 49.19999999999993, forma2: 49.2
forma1: 49.59999999999993, forma2: 49.6
forma1: 49.99999999999993, forma2: 50.0
forma1: 50.39999999999993, forma2: 50.4
forma1: 50.799999999999926, forma2: 50.8
forma1: 51.199999999999925, forma2: 51.2
forma1: 51.59999999999992, forma2: 51.6
forma1: 51.99999999999992, forma2: 52.0
forma1: 52.39999999999992, forma2: 52.4
forma1: 52.79999999999992, forma2: 52.8
forma1: 53.19999999999992, forma2: 53.2
forma1: 53.599999999999916, forma2: 53.6
forma1: 53.999999999999915, forma2: 54.0
forma1: 54.39999999999991, forma2: 54.4
forma1: 54.79999999999991, forma2: 54.8
forma1: 55.19999999999991, forma2: 55.2
forma1: 55.59999999999991, forma2: 55.6
forma1: 55.99999999999991, forma2: 56.0
forma1: 56.399999999999906, forma2: 56.4
forma1: 56.799999999999905, forma2: 56.8
forma1: 57.1999999999999, forma2: 57.2
forma1: 57.5999999999999, forma2: 57.6
forma1: 57.9999999999999, forma2: 58.0
forma1: 58.3999999999999, forma2: 58.4
forma1: 58.7999999999999, forma2: 58.8
forma1: 59.199999999999896, forma2: 59.2
forma1: 59.599999999999895, forma2: 59.6

## A3 - Funciones - 20%
Crear una función que devuelva si un año es bisiesto o no. Un año es bisiesto si es divisible entre 4, excepto aquellos divisibles entre 100 pero no entre 400.

In [56]:
def is_bisiesto(year):
    if year % 4 == 0:
        if year % 100 == 0 and year % 400 != 0:
            return False
        else:
            return True
    else:
        return False

Comprobemos con ejemplos la función anterior:

In [57]:
# Lista de años que a priori sé si son o no bisiestos
bisiestos = [1600, 2000, 2400]
no_bisiestos = [1700, 1800, 1900, 2100, 2200, 2300, 2500, 2600]

In [58]:
[is_bisiesto(year) for year in bisiestos]

[True, True, True]

In [59]:
[is_bisiesto(year) for year in no_bisiestos]

[False, False, False, False, False, False, False, False]

Se puede observar que la lista de los bisiestos, todos entregó True la función, y para la lista de los no bisiestos la función identificó que no lo eran

## A4 - Ficheros - 30%

- 1. Descarga datos mediante la siguiente url y devuelve una función con las ciudades de Florida en un tipo de colección Python https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv
- 2. Imprimir el número de ciudades que tiene el estado de Florida.

In [32]:
# La data está descargada en la misma carpeta que este notebook
ciudades_in_florida = set()
with open("us_cities_states_counties.csv") as f:
    for line in f:
        city, state_short, state, county, alias =line.split(";")
        if state == "Florida":
            ciudades_in_florida.add(city)

In [33]:
num_ciudades_florida = len(ciudades_in_florida)
print(f"número de ciudades de florida: {num_ciudades_florida}")

número de ciudades de florida: 537

## A4 - ¡Lo mismo pero con pandas!
En este apartado (que hago de manera opcional) se realizará la actividad A4 pero con pandas

In [1]:
import pandas as pd

In [3]:
ruta_data = "https://raw.githubusercontent.com/grammakov/USA-cities-and-states/master/us_cities_states_counties.csv"
data = pd.read_csv(ruta_data, sep="|")

In [27]:
# comprobemos que la data ha sido cargada en la estructura correcta
print(data.shape)
data.head()

(63211, 5)

         City State short   State full    County                City alias
0  Holtsville          NY     New York   SUFFOLK  Internal Revenue Service
1  Holtsville          NY     New York   SUFFOLK                Holtsville
2    Adjuntas          PR  Puerto Rico  ADJUNTAS           URB San Joaquin
3    Adjuntas          PR  Puerto Rico  ADJUNTAS          Jard De Adjuntas
4    Adjuntas          PR  Puerto Rico  ADJUNTAS       Colinas Del Gigante

### Para el apartado de imprimir el número de ciudades que pertenecen a florida, lo haré de dos formas distintas:
- Forma 1: paso a paso haciendo filtros a la data, más legible
- Forma 2: en un solo comando, menos legible pero más eficiente

#### Forma 1: paso a paso

In [28]:
florida_data = data[data["State full"]=="Florida"]
florida_data.head()

,City,State short,State full,County,City alias
23280,Fleming Island,FL,Florida,CLAY,Orange Pk
23281,Fleming Island,FL,Florida,CLAY,Fleming Island
23282,Fleming Island,FL,Florida,CLAY,Fleming Isle
23283,Fleming Island,FL,Florida,CLAY,Orange Park
23284,Ponte Vedra Beach,FL,Florida,SAINT JOHNS,Ponte Vedra Beach

In [29]:
# Obtener las ciudades que pertenecen a florida:
florida_unique_cities = florida_data["City"].unique()

In [30]:
# Imprimir el número de ciudades que tiene el estado de florida
print(f"número de ciudades de florida: {len(florida_unique_cities)}")

número de ciudades de florida: 537

#### Forma 2: en un solo comando

In [31]:
num_ciudades = data[data["State full"]=="Florida"]["City"].nunique()
print(f"número de ciudades de florida: {num_ciudades}")

número de ciudades de florida: 537