
<img src="img/viu_logo.png" width="200">

## 01MAIR - Estructuras de datos, Pandas

![logo](img/python_logo.png)

*Ivan Fuertes*

# Sumario
- Series y DataFrame
- Indexacion, slicing
- Grabar y cargar a archivo
- MovieLens dataset

# Pandas
- Librería (de facto estándar) para estructurar datos tabulares
- Multivariable (string, int, float, bool...)
- Dos clases:
 - Series (1 dimensión)
 - DataFrames (2+ dimensiones)

In [1]:
# librería externa
import pandas as pd
from pandas import Series, DataFrame

# Series
- Datos unidimensionales (similar a NumPy)
- Elementos + índices modificables

In [2]:
countries = pd.Series(['Spain','Andorra','Gibraltar','Portugal','France'])
print(countries)

0        Spain
1      Andorra
2    Gibraltar
3     Portugal
4       France
dtype: object

In [3]:
# especificando el índice
countries = pd.Series (['Spain','Andorra','Gibraltar','Portugal','France'],index=range(10,60,10))
print(countries)

10        Spain
20      Andorra
30    Gibraltar
40     Portugal
50       France
dtype: object

In [4]:
# los índices pueden ser de más tipos
football_cities = pd.Series(['Barcelona','Madrid','Valencia','Sevilla'], index=['a','b','c','d'])
print(football_cities)

a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
dtype: object

In [5]:
football_cities.name = 'Ciudades con dos equipos en primera' # nombrar la Serie
football_cities.index.name = 'Id' # Describir los índices
print(football_cities)

Id
a    Barcelona
b       Madrid
c     Valencia
d      Sevilla
Name: Ciudades con dos equipos en primera, dtype: object

In [6]:
# acceso similar a NumPy o listas, según posición
print(football_cities[2])
# acceso a través del índice semántico
print(football_cities['c'])

print(football_cities['c'] == football_cities[2])

Valencia
Valencia
True

# Tratamiento similar a ndarray

In [7]:
# múltiple recolección de elementos
print(football_cities[ ['a','c'] ])
print(football_cities[ [0, 3] ])

Id
a    Barcelona
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
d      Sevilla
Name: Ciudades con dos equipos en primera, dtype: object

In [8]:
# slicing
print(football_cities[:'c']) # incluye ambos extremos con el indice semantico
print(football_cities[:2])

Id
a    Barcelona
b       Madrid
c     Valencia
Name: Ciudades con dos equipos en primera, dtype: object
Id
a    Barcelona
b       Madrid
Name: Ciudades con dos equipos en primera, dtype: object

In [9]:
#cast a list
lista = list(football_cities[:'c'])
print(lista)

['Barcelona', 'Madrid', 'Valencia']

In [10]:
# uso de masks para seleccionar
fibonacci = pd.Series([0, 1, 1, 2, 3, 5, 8, 13, 21])
mask = fibonacci > 10
print(mask)
print(fibonacci[mask])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
dtype: bool
7    13
8    21
dtype: int64

In [11]:
# aplicar funciones a la serie
import numpy as np

np.sum(fibonacci)

54

In [12]:
#filtrado con np.where
distances = pd.Series([12.1,np.nan,12.8,76.9,6.1,7.2])
valid_distances = np.where(pd.notnull(distances),distances,0)
print(valid_distances)

[12.1  0.  12.8 76.9  6.1  7.2]

### Iteración

In [13]:
# iterar sobre elementos
for value in fibonacci:
    print('Value: ' + str(value))

# iterar sobre indices
for index in fibonacci.index:
    print('Index: ' + str(index))

Value: 0
Value: 1
Value: 1
Value: 2
Value: 3
Value: 5
Value: 8
Value: 13
Value: 21
Index: 0
Index: 1
Index: 2
Index: 3
Index: 4
Index: 5
Index: 6
Index: 7
Index: 8

In [14]:
# iterar sobre elementos e índices al mismo tiempo
for index, value in fibonacci.items():  #.iteritems()
    print('Index: ' + str(index) + '  Value: ' + str(value))

Index: 0  Value: 0
Index: 1  Value: 1
Index: 2  Value: 1
Index: 3  Value: 2
Index: 4  Value: 3
Index: 5  Value: 5
Index: 6  Value: 8
Index: 7  Value: 13
Index: 8  Value: 21

In [15]:
for index, value in zip(fibonacci.index, fibonacci):
    print('Index: ' + str(index) + '  Value: ' + str(value))

Index: 0  Value: 0
Index: 1  Value: 1
Index: 2  Value: 1
Index: 3  Value: 2
Index: 4  Value: 3
Index: 5  Value: 5
Index: 6  Value: 8
Index: 7  Value: 13
Index: 8  Value: 21

## Series como diccionarios
- Interpretar el índice como clave
- Acepta operaciones para diccionarios

In [16]:
# crear una serie a partir de un diccionario
serie = pd.Series( { 'Carlos' : 100, 'Marcos': 98} )
print(serie.index)
print(serie.values)
print(serie)

Index(['Carlos', 'Marcos'], dtype='object')
[100  98]
Carlos    100
Marcos     98
dtype: int64

In [17]:
# añade y elimina elementos a través de índices
serie['Pedro'] = 12
del serie['Marcos']
print(serie)

Carlos    100
Pedro      12
dtype: int64

In [18]:
# query una serie
if 'Carlos' in serie:
    serie['Carlos'] = 2
    
print(serie)

Carlos     2
Pedro     12
dtype: int64

## Operaciones entre series

In [19]:
# suma de dos series
# suma de valores con el mismo índice (NaN si no aparece en ambas)
serie1 = pd.Series([10,20,30,40],index=range(4) )
serie2 = pd.Series([1,2,3],index=range(3) )
print(serie1 + serie2)

0    11.0
1    22.0
2    33.0
3     NaN
dtype: float64

In [20]:
# resta de series (similar a la suma)
print(serie1 - serie2)

0     9.0
1    18.0
2    27.0
3     NaN
dtype: float64

In [21]:
# operaciones de pre-filtrado
result = serie1 + serie2
result[pd.isnull(result)] = 0 # mask con isnull()
print(result)

0    11.0
1    22.0
2    33.0
3     0.0
dtype: float64

###  Diferencias entre Pandas Series y diccionario
* Diccionario, es una estructura que relaciona las claves y los valores de forma arbitraria.
* Series, estructura de forma estricta listas de valores con listas de índice µasignado en la posición.
* Series, es más eficiente para ciertas operaciones que los dicionarios.
* En las Series los valores de entrada pueden ser listas o Numpy arrays.
* En Series los índices semánticos pueden ser integers o caracteres, en los valores igual.
* Series se podría entender entre una lista y in diccionario Python, pero es de una dimensión.

# DataFrame
- Datos tabulares (filas x columnas)
- Columnas: Series con índices compartidos

In [25]:
# crear un DataFrame a partir de un diccionario de elementos de la misma longitud
diccionario = { "Nombre" : ["Marisa","Laura","Manuel"], "Edad" : [34,29,12] }
# las claves identifican columnas
frame = pd.DataFrame(diccionario, index = ['a', 'b', 'c'])
display(frame)

   Nombre  Edad
a  Marisa    34
b   Laura    29
c  Manuel    12

In [26]:
diccionario

{'Nombre': ['Marisa', 'Laura', 'Manuel'], 'Edad': [34, 29, 12]}

In [27]:
# además de 'index', el parámetro 'columns' especifica el número y orden de las columnas
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])
display(frame)

  Nacionalidad  Nombre  Edad Profesion
0          NaN  Marisa    34       NaN
1          NaN   Laura    29       NaN
2          NaN  Manuel    12       NaN

In [28]:
# acceso a columnas
edades = frame['Nombre']
display(edades)
type(edades)

0    Marisa
1     Laura
2    Manuel
Name: Nombre, dtype: object

pandas.core.series.Series

In [29]:
#siempre que el nombre de la columna lo permita (espacios, ...)
nombres = frame.Nombre
display(nombres)
type(nombres)

0    Marisa
1     Laura
2    Manuel
Name: Nombre, dtype: object

pandas.core.series.Series

In [30]:
# acceso al primer nombre del DataFrame frame??
print(frame['Nombre'][0])
print(frame.Nombre[0])
print(nombres[0])

Marisa
Marisa
Marisa

### Formas de crear un DataFrame
* Con una Serie de pandas
* Lista de diccionarios
* Dicionario de Series de Pandas
* Con un array de Numpy de dos dimensiones
* Con array estructurado de Numpy

## Modificar DataFrames

In [31]:
# añadir columnas
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])
frame['Direccion'] = 'Desconocida'
display(frame)

  Nacionalidad  Nombre  Edad Profesion    Direccion
0          NaN  Marisa    34       NaN  Desconocida
1          NaN   Laura    29       NaN  Desconocida
2          NaN  Manuel    12       NaN  Desconocida

In [32]:
# añadir fila (requiere todos los valores)
user_2 = ['Alemania','Klaus',39, 'none', 'Desconocida']
frame.loc[len(frame)] = user_2
display(frame)

  Nacionalidad  Nombre  Edad Profesion    Direccion
0          NaN  Marisa    34       NaN  Desconocida
1          NaN   Laura    29       NaN  Desconocida
2          NaN  Manuel    12       NaN  Desconocida
3     Alemania   Klaus    39      none  Desconocida

In [34]:
# eliminar fila (similar a Series)
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])

# frame = frame.drop(2) # por qué necesitamos reasignar el frame?
# display(frame)

frame.drop(2, inplace=True)
display(frame)

  Nacionalidad  Nombre  Edad Profesion
0          NaN  Marisa    34       NaN
1          NaN   Laura    29       NaN

In [35]:
#eliminar columna
del frame['Profesion']
display(frame)

  Nacionalidad  Nombre  Edad
0          NaN  Marisa    34
1          NaN   Laura    29

In [36]:
# acceder a la inversa (como una matriz)
display(frame.T)

                   0      1
Nacionalidad     NaN    NaN
Nombre        Marisa  Laura
Edad              34     29

## Iteración

In [37]:
# iteración sobre el DataFrame?
frame = pd.DataFrame(diccionario,columns=['Nacionalidad', 'Nombre', 'Edad', 'Profesion'])

for a in frame:
    print(a) # qué es 'a'?

Nacionalidad
Nombre
Edad
Profesion

In [38]:
# iteracion sobre filas
for value in frame.values:
    print(value)
    print(type(value))

[nan 'Marisa' 34 nan]
<class 'numpy.ndarray'>
[nan 'Laura' 29 nan]
<class 'numpy.ndarray'>
[nan 'Manuel' 12 nan]
<class 'numpy.ndarray'>

In [39]:
# iterar sobre filas y luego sobre cada valor?
for values in frame.values:
    for value in values: 
        print(value)

nan
Marisa
34
nan
nan
Laura
29
nan
nan
Manuel
12
nan

## Indexación y slicing con DataFrames

In [40]:
d1 = {'ciudad':'Valencia', 'temperatura':10, 'o2':1}
d2 = {'ciudad':'Barcelona', 'temperatura':8}
d3 = {'ciudad':'Valencia', 'temperatura':9}
d4 = {'ciudad':'Madrid', 'temperatura':10, 'humedad':80}
d5 = {'ciudad':'Sevilla', 'temperatura':15, 'humedad':50, 'co2':6}
d6 = {'ciudad':'Valencia', 'temperatura':10, 'humedad':90, 'co2':10}
ls_data = [d1, d2, d3, d4, d5, d6]  # lista de diccionarios
df_data = pd.DataFrame(ls_data, index = list('abcdef'))
display(df_data)

      ciudad   co2  humedad   o2  temperatura
a   Valencia   NaN      NaN  1.0           10
b  Barcelona   NaN      NaN  NaN            8
c   Valencia   NaN      NaN  NaN            9
d     Madrid   NaN     80.0  NaN           10
e    Sevilla   6.0     50.0  NaN           15
f   Valencia  10.0     90.0  NaN           10

In [41]:
# Acceso a un valor concreto por indice posicional [row, col]
# display(df_data.iloc[3, 1])

# Acceso a todos los valores hasta un índice por enteros
# display(df_data.iloc[:3,:4])

# Acceso a datos de manera explícita, indice semantico (se incluyen)
# display(df_data.loc['d', 'temperatura'])
# display(df_data.loc[:'c', :'o2'])
display(df_data.loc[:'c', 'o2':'temperatura'])

# display(df_data.loc[:, ['ciudad','o2']])

    o2  temperatura
a  1.0           10
b  NaN            8
c  NaN            9

In [42]:
# indexación con nombre de columna (por columnas)
print(df_data['ciudad']) # --> Series

display(df_data[['ciudad', 'o2']])

a     Valencia
b    Barcelona
c     Valencia
d       Madrid
e      Sevilla
f     Valencia
Name: ciudad, dtype: object

      ciudad   o2
a   Valencia  1.0
b  Barcelona  NaN
c   Valencia  NaN
d     Madrid  NaN
e    Sevilla  NaN
f   Valencia  NaN

In [43]:
# indexación con índice posicional (no permitido!). Esto busca columna.
df_data[0]

KeyError: 0

In [44]:
# indexar por posición con 'iloc'
print(df_data.iloc[0]) # --> Series de la primera fila (qué marca los índices)

ciudad         Valencia
co2                 NaN
humedad             NaN
o2                    1
temperatura          10
Name: a, dtype: object

In [45]:
# indexar semántico con 'loc'
df_data.loc['a'] # --> Series de la fila con índice 'a'

ciudad         Valencia
co2                 NaN
humedad             NaN
o2                    1
temperatura          10
Name: a, dtype: object

In [46]:
# si se modifica una porcion del dataframe se modifica el dataframe original (referencia)
serie = df_data.loc['a']
serie[2] = 3000
display(df_data)
# copiar data frame
df_2 = df_data.copy()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      ciudad   co2  humedad   o2  temperatura
a   Valencia   NaN      NaN  1.0           10
b  Barcelona   NaN      NaN  NaN            8
c   Valencia   NaN      NaN  NaN            9
d     Madrid   NaN     80.0  NaN           10
e    Sevilla   6.0     50.0  NaN           15
f   Valencia  10.0     90.0  NaN           10

In [47]:
# ambos aceptan 'axis' como argumento (para buscar por fila [axis=1] o columna [axis=0])
df_data.iloc(axis=1)[0] # --> todos los valores asignados a la primera columna 'ciudad'
df_data.loc(axis=1)['ciudad'] # --> preferible el equivalente frame['ciudad']

a     Valencia
b    Barcelona
c     Valencia
d       Madrid
e      Sevilla
f     Valencia
Name: ciudad, dtype: object

In [48]:
# qué problema puede tener este fragmento?
frame = pd.DataFrame({"Name" : ['Carlos','Pedro'], "Age" : [34,22]}, index=[1,0])
display(frame)

     Name  Age
1  Carlos   34
0   Pedro   22

In [49]:
# por defecto, pandas interpreta índice posicional --> error en frames
# cuando hay posible ambigüedad, utilizar loc y iloc
print('Primera fila\n')
print(frame.iloc[0])
print('\nElemento con index 0\n')
print(frame.loc[0])

Primera fila

Name    Carlos
Age         34
Name: 1, dtype: object

Elemento con index 0

Name    Pedro
Age        22
Name: 0, dtype: object

## Objeto Index de Pandas

In [51]:
# Contrucción de índices
ind = pd.Index([2, 3, 5, 7, 11])
# recuperar datos
print(ind[3])
print(ind[::2])

7
Int64Index([2, 5, 11], dtype='int64')

In [52]:
# Son inmutables! No se modifican los datos. 
ind[3] = 8

TypeError: Index does not support mutable operations

## Slicing

In [55]:
# slice por filas
d_and_d_characters = {'Name' : ['bundenth','theorin','barlok'], 'Strength' : [10,12,19], 'Wisdom' : [20,13,6]}
character_data = pd.DataFrame(d_and_d_characters, index=['a','b','c'])
display(character_data)
display(character_data[:-1])
display(character_data[1:2])

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13
c    barlok        19       6

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13

      Name  Strength  Wisdom
b  theorin        12      13

In [56]:
# slicing con índice semántico
display(character_data[['Name','Strength']])

       Name  Strength
a  bundenth        10
b   theorin        12
c    barlok        19

In [58]:
#slicing con 'loc' e 'iloc'
display(character_data.iloc[1:])
display(character_data.loc[:'b'])

      Name  Strength  Wisdom
b  theorin        12      13
c   barlok        19       6

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13

¿Cómo filtrar filas y columnas? Por ejemplo, para todos los personajes, obtener 'Name' y 'Strength'

In [62]:
# usando 'loc' para hacer slicing
display(character_data.loc[:,'Name':'Strength'])

       Name  Strength
a  bundenth        10
b   theorin        12
c    barlok        19

In [63]:
# usando 'loc' para buscar específicamente filas y columnas
display(character_data.loc[ ['a','c'], ['Name','Wisdom'] ])

       Name  Wisdom
a  bundenth      20
c    barlok       6

In [68]:
# lo mismo con 'iloc'?
display(character_data.iloc[[0, 2],[0,2]])
display(character_data.iloc[[0,-1],[0,-1]])

       Name  Wisdom
a  bundenth      20
c    barlok       6

       Name  Wisdom
a  bundenth      20
c    barlok       6

In [69]:
# lista de los personajes con el atributo Strength > 11
display(character_data.loc[character_data['Strength'] > 11, ['Name', 'Strength']])

      Name  Strength
b  theorin        12
c   barlok        19

In [71]:
# listar los personajes con Strength > 15 o Wisdom > 15
display(character_data.loc[(character_data['Strength'] > 15) | (character_data['Wisdom'] > 15)])

       Name  Strength  Wisdom
a  bundenth        10      20
c    barlok        19       6

# Cargar y guardar datos en pandas

In [72]:
# Guardar a csv
character_data.to_csv('res/o_d_d_characters.csv',sep=';') # sep por defecto: ','

In [73]:
loaded = pd.read_table('res/o_d_d_characters.csv',sep=';')
display(loaded)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

  Unnamed: 0      Name  Strength  Wisdom
0          a  bundenth        10      20
1          b   theorin        12      13
2          c    barlok        19       6

In [74]:
loaded = pd.read_table('res/o_d_d_characters.csv',sep=';', index_col = 0)
display(loaded)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

       Name  Strength  Wisdom
a  bundenth        10      20
b   theorin        12      13
c    barlok        19       6

#### otros argumentos to_csv()
- na_rep='string' --> representar valores NaN en el archivo csv

#### otros argumentos read_table()
- na_values='string'

Pandas también ofrece funciones para leer/guardar a otros formatos estándares: JSON, HDF5 o Excel en su [API](https://pandas.pydata.org/pandas-docs/stable/reference/io.html)

# Ejemplo práctico en pandas
- [MovieLens dataset](https://grouplens.org/datasets/movielens/)
 - Reviews de películas
 - 1 millón de entradas
 - Datos demográficos de usuarios

In [79]:
import numpy as np
import pandas as pd
import zipfile # para descomprimir archivos zip
import urllib.request # para descargar de URL

import os


# descargar MovieLens dataset
url = 'http://files.grouplens.org/datasets/movielens/ml-1m.zip'  
ruta = os.path.join("res", "ml-1m.zip")
urllib.request.urlretrieve(url, ruta)

('res\\ml-1m.zip', <http.client.HTTPMessage at 0x1a11e7a3ef0>)

In [81]:
# descomprimiendo archivo zip
ruta_ext = os.path.join("res")
with zipfile.ZipFile(ruta, 'r') as zip: 
    print('Extracting all files...') 
    zip.extractall(ruta_ext) # destinación
    print('Done!') 
    
# take a look at readme y revisar formatos

Extracting all files...
Done!

In [86]:
# archivos creados
%ls -l "res/ml-1m"

 El volumen de la unidad C no tiene etiqueta.
 El n£mero de serie del volumen es: 8C9E-EFAD

 Directorio de C:\Users\user\Desktop\master_ia\1 introducci¢n a python\sesiones


 Directorio de C:\Users\user\Desktop\master_ia\1 introducci¢n a python\sesiones\res\ml-1m

11/11/2020  01:39 p. m.    <DIR>          .
11/11/2020  01:39 p. m.    <DIR>          ..
11/11/2020  02:05 p. m.           171,308 movies.dat
11/11/2020  02:05 p. m.        24,594,131 ratings.dat
11/11/2020  02:05 p. m.             5,577 README
11/11/2020  02:05 p. m.           134,368 users.dat
               4 archivos     24,905,384 bytes
               2 dirs  94,984,089,600 bytes libres

No se encuentra el archivo

In [88]:
# users_dataset = pd.read_table('res/ml-1m/users.dat',sep='::',index_col=0)
ruta_users = os.path.join("res", "ml-1m", "users.dat")
users_dataset = pd.read_csv(ruta_users,sep='::',index_col=0, engine='python')
display(users_dataset)

      F  1.1  10  48067
1
2     M   56  16  70072
3     M   25  15  55117
4     M   45   7  02460
5     M   25  20  55455
6     F   50   9  55117
7     M   35   1  06810
8     M   25  12  11413
9     M   25  17  61614
10    F   35   1  95370
11    F   25   1  04093
12    M   25  12  32793
13    M   45   1  93304
14    M   35   0  60126
15    M   25   7  22903
16    F   35   0  20670
17    M   50   1  95350
18    F   18   3  95825
19    M    1  10  48073
20    M   25  14  55113
21    M   18  16  99353
22    M   18  15  53706
23    M   35   0  90049
24    F   25   7  10023
25    M   18   4  01609
26    M   25   7  23112
27    M   25  11  19130
28    F   25   1  14607
29    M   35   7  33407
30    F   35   7  19143
31    M   56   7  06840
...  ..  ...  ..    ...
6011  M   35  15  80538
6012  M   35  15  02871
6013  F   25  20  32301
6014  M   45   1  80634
6015  F   25   9  80013
6016  M   45   1  37209
6017  F   35   7  21117
6018  M   35   1  48906
6019  M   25   0  10024
6020  M   50  16  10023
6021  M   25  12  08876
6022  M   25  17  57006
6023  M   25   0  43213
6024  M   25  12  53705
6025  F   25   1  32607
6026  M   35   6  11210
6027  M   18   4  20742
6028  M   18   4  94133
6029  F   25   1  23185
6030  M   25  17  32618
6031  F   18   0  45123
6032  M   45   7  55108
6033  M   50  13  78232
6034  M   25  14  94117
6035  F   25   1  78734
6036  F   25  15  32603
6037  F   45   1  76006
6038  F   56   1  14706
6039  F   45   0  01060
6040  M   25   6  11106

[6039 rows x 4 columns]

In [89]:
# Varios problemas
# sin cabecera! primer valor se ha perdido
# las columnas no tienen nombres
pd.read_table?

In [92]:
# especificar nombres, cargar sin cabecera
users_dataset = pd.read_csv(ruta_users,sep='::',index_col=0,
    header=None,names=['UserID','Gender','Age','Occupation','Zip-code'],engine='python')
display(users_dataset)

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455
6           F   50           9    55117
7           M   35           1    06810
8           M   25          12    11413
9           M   25          17    61614
10          F   35           1    95370
11          F   25           1    04093
12          M   25          12    32793
13          M   45           1    93304
14          M   35           0    60126
15          M   25           7    22903
16          F   35           0    20670
17          M   50           1    95350
18          F   18           3    95825
19          M    1          10    48073
20          M   25          14    55113
21          M   18          16    99353
22          M   18          15    53706
23          M   35           0    90049
24          F   25           7    10023
25          M   18           4    01609
26          M   25           7    23112
27          M   25          11    19130
28          F   25           1    14607
29          M   35           7    33407
30          F   35           7    19143
...       ...  ...         ...      ...
6011        M   35          15    80538
6012        M   35          15    02871
6013        F   25          20    32301
6014        M   45           1    80634
6015        F   25           9    80013
6016        M   45           1    37209
6017        F   35           7    21117
6018        M   35           1    48906
6019        M   25           0    10024
6020        M   50          16    10023
6021        M   25          12    08876
6022        M   25          17    57006
6023        M   25           0    43213
6024        M   25          12    53705
6025        F   25           1    32607
6026        M   35           6    11210
6027        M   18           4    20742
6028        M   18           4    94133
6029        F   25           1    23185
6030        M   25          17    32618
6031        F   18           0    45123
6032        M   45           7    55108
6033        M   50          13    78232
6034        M   25          14    94117
6035        F   25           1    78734
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

[6040 rows x 4 columns]

In [93]:
# samplear la tabla 
display(users_dataset.sample(8))

       Gender  Age  Occupation Zip-code
UserID
3402        M   35          20    30306
2248        F   35          12    46755
641         F   35           0    55116
103         M   45           7    92104
3073        M   25           0    90028
2411        F   35          14    01536
16          F   35           0    20670
674         M   25          17    22042

In [94]:
# samplear la cabeza
display(users_dataset.head(7))

       Gender  Age  Occupation Zip-code
UserID
1           F    1          10    48067
2           M   56          16    70072
3           M   25          15    55117
4           M   45           7    02460
5           M   25          20    55455
6           F   50           9    55117
7           M   35           1    06810

In [95]:
# samplear la cola
display(users_dataset.tail(7))

       Gender  Age  Occupation Zip-code
UserID
6034        M   25          14    94117
6035        F   25           1    78734
6036        F   25          15    32603
6037        F   45           1    76006
6038        F   56           1    14706
6039        F   45           0    01060
6040        M   25           6    11106

In [96]:
# tipos de datos sobre las columnas
users_dataset.dtypes

Gender        object
Age            int64
Occupation     int64
Zip-code      object
dtype: object

In [97]:
display(users_dataset[users_dataset['Zip-code'].str.len() > 5])

       Gender  Age  Occupation    Zip-code
UserID
161         M   45          16  98107-2117
233         F   45          20  37919-4204
293         M   56           1  55337-4056
458         M   50          16  55405-2546
506         M   25          16  55103-1006
541         F   18           4     5849574
567         M   35          20  52570-9634
868         M   50          17  01702-7224
913         M   25           0  20744-6223
939         F   25          20  20110-5616
946         M   35           7  48103-8929
1046        M   56          18  53404-1230
1081        M   18           4  68144-2410
1091        M   18           5      345567
1139        M   25           1  93420-2852
1201        M   18           4  84112-2004
1259        M   35           7     2020010
1434        F    1          10      495321
1463        M   50          16  92612-3417
1541        M   56          17  23464-3016
1577        M   56           0  72227-5733
1595        M   35           1  92683-1892
1673        M    1          10  98043-3621
1728        M   18           4  11710-1641
1758        F   25           0  33067-1400
2002        F   56          13  02136-1522
2087        M   25           0  37923-3112
2106        F   18          20      495321
2180        M   25          12  27713-9225
2210        M   45          17  88005-4313
...       ...  ...         ...         ...
4124        M   25          18  62330-1408
4227        M   25          19  11414-2520
4454        M   25          20      111225
4458        F   25           4  15701-2017
4492        M   56          13  45322-3132
4538        M   25          12     0956456
4723        M   35           7  90014-1718
4725        M   35           5  96707-1321
4746        M   50           1  19087-3622
4808        M   35           0  96707-1321
4913        F   25           1      970025
4965        M    1          10  63123-1507
4973        F   56           2      949702
5060        M   45          17  84109-2001
5100        M   50           6   193122042
5145        M   35           7  77565-2332
5311        M   50           0  62025-8000
5337        F   35           3  02725-1010
5408        M   25          20  11230-1710
5470        M   56           7  20003-2712
5473        M   25           1  20120-6354
5504        M   45           7  85287-2702
5510        M   18           4      191004
5600        F   45           0  12833-2000
5665        M   18           4  10461-1301
5682        M   18           0  23455-4959
5904        F   45          12      954025
5925        F   25           0  90035-4444
5967        M   50          16  73069-5429
5985        F   18           4  78705-5221

[81 rows x 4 columns]

In [98]:
# información general sobre atributos numéricos
display(users_dataset.describe())

               Age   Occupation
count  6040.000000  6040.000000
mean     30.639238     8.146854
std      12.895962     6.329511
min       1.000000     0.000000
25%      25.000000     3.000000
50%      25.000000     7.000000
75%      35.000000    14.000000
max      56.000000    20.000000

In [99]:
# incluir otros atributos (no todo tiene sentido)
display(users_dataset.describe(include='all'))

       Gender          Age   Occupation Zip-code
count    6040  6040.000000  6040.000000     6040
unique      2          NaN          NaN     3439
top         M          NaN          NaN    48104
freq     4331          NaN          NaN       19
mean      NaN    30.639238     8.146854      NaN
std       NaN    12.895962     6.329511      NaN
min       NaN     1.000000     0.000000      NaN
25%       NaN    25.000000     3.000000      NaN
50%       NaN    25.000000     7.000000      NaN
75%       NaN    35.000000    14.000000      NaN
max       NaN    56.000000    20.000000      NaN

In [100]:
# cuántos usuarios son mujeres (Gender='F')
len(users_dataset[users_dataset['Gender'] == 'F'])

# select count(*) from users_dataset where users_dataset.Gender = 'F'

1709

In [102]:
# mostrar solo los menores de edad
under_age = users_dataset[users_dataset['Age'] < 18]
print(len(under_age))
display(under_age.sample(10))

222

       Gender  Age  Occupation Zip-code
UserID
99          F    1          10    19390
1935        M    1          10    90405
5803        M    1          10    01597
2236        M    1          10    96782
2657        F    1          10    47403
1088        F    1          10    98103
871         M    1          10    76013
875         M    1          10    94707
1929        F    1          10    91107
468         F    1          10    55082

In [103]:
# filtrar edad incorrecta (míninimo 18)
under_age['Age'] = np.nan
display(under_age.head())

users_dataset[users_dataset['Age'] < 18] = under_age
display(users_dataset.head())

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       Gender  Age  Occupation Zip-code
UserID
1           F  NaN          10    48067
19          M  NaN          10    48073
51          F  NaN          10    10562
75          F  NaN          10    01748
86          F  NaN          10    54467

       Gender   Age  Occupation Zip-code
UserID
1           F   NaN          10    48067
2           M  56.0          16    70072
3           M  25.0          15    55117
4           M  45.0           7    02460
5           M  25.0          20    55455

In [104]:
# Agrupar datos por atributos
display(users_dataset.groupby(by='Age').describe())

     Occupation
          count      mean       std  min  25%   50%   75%   max
Age
18.0     1103.0  6.666364  5.873533  0.0  4.0   4.0  10.5  20.0
25.0     2096.0  8.159828  6.486610  0.0  2.0   7.0  14.0  20.0
35.0     1193.0  8.804694  6.459703  0.0  2.0   7.0  15.0  20.0
45.0      550.0  8.294545  6.600254  0.0  1.0   7.0  15.0  20.0
50.0      496.0  8.538306  6.368368  0.0  2.0   7.0  14.0  20.0
56.0      380.0  9.078947  6.138170  0.0  2.0  12.0  13.0  20.0

In [105]:
# Grabar la tabla modificada
# Cambiar el separador a ','
# Guardar NaN como 'null'
users_dataset.to_csv('res/ml-1m/o_users_processed.dat',sep=',',na_rep='null')

In [106]:
%pycat res/ml-1m/o_users_processed.dat

# Ejercicios
- Hacer un análisis general de los otros dos archivos CSV en ml-1m ('movies.dat' y 'ratings.dat')
- Analizando el dataset ratings.dat, ¿hay algún usuario que no tenga ninguna review? ¿Cuántos tienen menos de 30 reviews?